

.home__card{
    margin: 20px auto;
    border: 1px solid lightgray;
    box-shadow: 0px 2px 5px 5px #dbdada;
    max-width: 500px;
    max-height: max-content;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    font-weight: 0;
    
}

.avatar__icon{
    width: 35px;
    height: 35px;
    display: inline-flex;
}

h5 {
    
    line-height: 35px;
    height: 40px;
    font-size: 20px;  
    font-weight: 300;
    margin-left: 5px;
}

.card__image {
    margin-top: 0px ;
    margin-bottom: 5px;
   
    
}
.images {
    width: 100%;
    max-height: 350px;
    object-fit: fill;
}

.card__content {
    margin-left: 10px;   
}

.icon {
   color: red;
   
}

.card__content  input {
    width: stretch;
    height: 25px;
    border: none;   
    flex: 1;
    
}

.send__icon{
    color: #9c6fcf;
}

.send__icon:hover{
    color: #d4d4d4;
    cursor: pointer;
}

.form__comment{
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 0px;
    border-bottom: 2px solid lightgrey;
}

.card__content > p{
    margin-top: 5px;
}

.hr_line{
    color: #eeeeee;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 1px 1px 1px lightgray;
    margin-right: 20px ;
}

.delete__Icon{
    color: lightslategrey;
    float: right;
    margin: 5px 10px;
}
